@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #233142;
  color: white;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}
